.header {
  display: flex;
  justify-content: center;
  background-color: white;
}
  
.headerlink-title {
  color: white;
  text-decoration: none;
  padding: 0 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black
}

.headerlink-title:hover .headerlink-dot {
  opacity: 1;
}

.headerlink-dot {
  margin-top: -0.5rem;
  opacity: 0;
  transition: opacity 200ms linear;
  display: flex;
  justify-content: center;
}

.headerlink-dot-active {
  margin-top: -0.5rem;
  display: flex;
  justify-content: center;
}

.headerlink-no-link {
  pointer-events: none;
}

.home-div {
  display: flex;
  justify-content: center;
}
